:root {
    --color-primary:#F0FDF4;
    --color-secondary:#F3F5F8;
    --color-subtitle:#4B5563;
    --color-title:#1F2937;
    --button-primary:#16A34A;
    --button-primary-hover: #21C05C;
    --button-secondary:#2563EB;
}